@font-face
{   
    font-family:'fontawesome-webfont';
    src:    url('Webagency_images/fonts/fontawesome-webfont.eot') format('eot'),
            url('Webagency_images/fonts/fontawesome-webfont.woff') format('woff'),
            url('Webagency_images/fonts/fontawesome-webfont.svg') format('svg'),            
            url('Webagency_images/fonts/fontawesome-webfont.ttf') format('truetype');
    
    font-family: 'glyphicons-halflings-regular';
    src:    url('Webagency_images/fonts/glyphicons-halflings-regular.eot')                     format('eot'),
            url('Webagency_images/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
            url('Webagency_images/fonts/glyphicons-halflings-regular.svg') format('svg'),
            url('Webagency_images/fonts/glyphicons-halflings-regular.woff') format('woff');
}

#PageWrapper
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: aquamarine;
}

.menu
{
    position: fixed;
    top: 0%;
    left: 5%;
    width: 90%;
    background-color: RED;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img_container
{
    width: 50%;
}

ul
{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-size: 1.2em;
}

li
{
    padding: 5%;
    border-top: blue 2px solid;
}

header
{
    width: 100%;
    margin-top: 8%;
    padding-left: 5%;
    background: url(webagency_images/images/slider/bg1.jpg)no-repeat top;
    background-size: 100% 100%;
    font-family: sans-serif;
    color: white;
    font-weight: 900;
    font-size: 0.8em;
    border: 3px solid blue;
}

.plus_dinfos
{
    width: 7%;
    background-color: #6BCAF2;
    padding: 0.7%;
    margin-top: 2%;
    text-align: center;
}

.intro_services
{
    align-self: center;
    text-align: center;
    width: 50%;
    padding-bottom: 3%;
}

.nos_services
{
    background-image: url(webagency_images/images/main-feature.png);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: center left;
    background-color: #F7F7F7;
    width: 88%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    color: grey;
    font-family: sans-serif;
}

.ux_design
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
    width: 54%;
}

.ui_design
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
    width: 54%;
}

.seo
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
    width: 54%;
}

.nos_projets
{
    background-color: #F7F7F7;
    width: 90%;
    margin-top: 2%;
    text-align: center;
    color: grey;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 4%;
}

.portfolio
{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

img
{
    max-width: 30%;
    height: auto;
    margin-bottom: 1%;
}

h3
{
    font-size: 1.7em;
    font-weight: 800;
    color: black;
}

h2
{
    color: black;
    font-size: 1.3em;
}

h4
{
    margin: 1%;
}

strong
{
    color: #6BCAF2;
}

a
{
    font-weight: 700;
    text-decoration: none;
    color: white;
}

a:hover
{
    text-decoration: overline #6BCAF2;
}

.menu a
{
    color: grey;
}

.nos_projets a
{
    color: grey;
}

.link h4
{
    display: block;
    padding: 3%;
    background-color: #E6E7E8;    
}

