@font-face
{   
    font-family:'fontawesome-webfont';
    src:    url('Webagency_images/fonts/fontawesome-webfont.eot') format('eot'),
            url('Webagency_images/fonts/fontawesome-webfont.woff') format('woff'),
            url('Webagency_images/fonts/fontawesome-webfont.svg') format('svg'),            
            url('Webagency_images/fonts/fontawesome-webfont.ttf') format('truetype');
    
    font-family: 'glyphicons-halflings-regular';
    src:    url('Webagency_images/fonts/glyphicons-halflings-regular.eot')                     format('eot'),
            url('Webagency_images/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
            url('Webagency_images/fonts/glyphicons-halflings-regular.svg') format('svg'),
            url('Webagency_images/fonts/glyphicons-halflings-regular.woff') format('woff');
}

#page_wrapper
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px black solid;
}

.menu
{
    position:fixed;
    top: 0%;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1vw;
    border: 2px red solid;
}

.img_container
{
    width: 15%;
    border: 2px yellow solid;
}

.menu ul
{
    display: flex;
    justify-content: space-between;
    width: 24%;
    list-style: none;
    border: 3px blue solid;
}

li a:hover
{
    border-top: 3px solid #6BCAF2;
    padding-top: 30%;
}

.slider-container
{
    width: 100%;
    position: relative;
    margin-top: 4%;
    font-family: sans-serif;
    color: white;
    font-weight: 900;
    font-size: 0.8vw;
    border: 2px red solid;
}

.slider-container_img
{
    width: 100%;
    border: 3px blue solid;  
}

img
{
    width: 100%;
}

.slider-container_text
{
    position: absolute;
    top: 30%;
    left: 8%;   
    border: 5px green solid;
}

.bouton
{
    width: 20%;
    padding: 2% 0% 2% 0%;
    background-color: #6BCAF2;
    text-align: center;
}

.bouton a
{
    font-weight: 700;
    text-decoration: none;
    color: white;
}


.services-container
{
    width: 100%;
    border: 3px solid pink;
}

.services-container_title
{
    text-align: center;
    color: grey;
    font-weight: 700;
    font-family: sans-serif;
    border: 2px green solid;
}

.services-container_content
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px purple solid;
}
.computer_container
{
    width: 30%;
    border: 2px solid yellow;
}

.ul_container ul
{
    border: 4px solid grey;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    list-style: circle;
}

.li_container
{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
    border: 4px solid orange;
}

.li_container i
{
    position: absolute;
    left: 6%;
}

.projets-container
{
    width: 100%;
    border: 3px solid aqua;
}

.projets-container_title
{
    text-align: center;
    color: grey;
    font-weight: 700;
    font-family: sans-serif;
    border: 2px green solid;
}

.projets-container_ul ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid blue;
}

.projets-container_ul li
{
    padding: 1% 2% 1% 2%;
    list-style: none;
    color: dimgray;
    background-color: #DEDEDE;
    border: 2px solid black;
}

.portfolio
{
    width: 100%;
    border: 3px solid pink;
}

.portfolio_serie1
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1%;
}

.portfolio_serie2
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.portfolio img
{
    width: 22%;
}

h3
{
    font-size: 1.2vw;
    font-family: sans-serif;
    color: black;
}

h2
{
    color: black;
    font-size: 1.8vw;
    font-family: sans-serif;
}

strong
{
    color: #6BCAF2;
}

p
{
    font-size: 0.7vw;
}

a
{
    font-weight: 700;
    text-decoration: none;
    color: grey;
}

