@font-face
{   
    font-family:'fontawesome-webfont';
    src:    url('Webagency_images/fonts/fontawesome-webfont.eot') format('eot'),
            url('Webagency_images/fonts/fontawesome-webfont.woff') format('woff'),
            url('Webagency_images/fonts/fontawesome-webfont.svg') format('svg'),            
            url('Webagency_images/fonts/fontawesome-webfont.ttf') format('truetype');
    
    font-family: 'glyphicons-halflings-regular';
    src:    url('Webagency_images/fonts/glyphicons-halflings-regular.eot')                     format('eot'),
            url('Webagency_images/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
            url('Webagency_images/fonts/glyphicons-halflings-regular.svg') format('svg'),
            url('Webagency_images/fonts/glyphicons-halflings-regular.woff') format('woff');
}

#page_wrapper
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px black solid;
}

.menu
{
    position:fixed;
    top: 0%;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1vw;
    border: 2px red solid;
    z-index: 5;
}

.img_container
{
    width: 15%;
    border: 2px yellow solid;
}

.menu ul
{
    display: flex;
    justify-content: space-between;
    width: 24%;
    list-style: none;
    border: 3px blue solid;
}

li a:hover
{
    border-top: 3px solid #6BCAF2;
    padding-top: 30%;
}

.slider-container
{
    width: 100%;
    position: relative;
    margin-top: 4%;
    font-family: sans-serif;
    color: white;
    font-weight: 900;
    font-size: 1vw;
    border: 2px red solid;
    display: flex;
    justify-content: center;
    overflow: hidden;

}

.slider-container_img
{
    width: 100%;
    border: 3px blue solid;  
}

.button_arrow-container
{
    position: absolute;
    top: 44%;
    width: 104%;
    height: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    border: 1px solid red;
}

.button_arrow-left
{
    width: 4%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid green;
    position: relative;
    background: #0e0d0d4d;
   
}

.button_arrow-left i
{
    position: absolute;
    top: 20%;
    right: 18%;
    font-size: 230%;
    

}

.button_arrow-right
{
    width: 4%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid green;
    position: relative;
    background: #0e0d0d4d;

}

.button_arrow-right i
{
    position: absolute;
    top: 20%;
    left: 18%;
    font-size: 230%;
    color: white;
}

.slider-container_text
{
    position: absolute;
    top: 30%;
    left: 8%;   
    border: 2px green solid;
}

.bouton
{
    width: 20%;
    padding: 2% 0% 2% 0%;
    background-color: #6BCAF2;
    text-align: center;
}

.bouton a
{
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.services-container
{
    width: 100%;
    border: 3px solid pink;
}

.services-container_title
{
    text-align: center;
    color: grey;
    font-weight: 700;
    font-family: sans-serif;
    border: 2px green solid;
}

.services-container_content
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px purple solid;
}

.computer_container
{
    width: 30%;
    border: 2px solid yellow;
}

.ul_container
{
    border: 2px solid blue;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.li_container
{
    border: 1px solid orange;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.services_container-txt
{
    width: 85%;
    color: gray;
}
.i_content
{
    border: 1px solid #D7DADB;
    width: 55px;
    height: 55px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.i_content-point
{
    position: absolute;
    left: 90%;
}
.projets-container
{
    width: 100%;
    border: 3px solid aqua;
}

.projets-container_title
{
    text-align: center;
    color: grey;
    font-weight: 700;
    font-family: sans-serif;
    border: 2px green solid;
}

.projets-container ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4% 0% 4% 0%;
}

.projets-container li
{
    width: 7%;
    padding: 1% 0% 1% 0%;
    list-style: none;
    text-align: center;
    font-size: 1vw;
    color: dimgray;
    background-color: #DEDEDE;
    position: relative;
}

.projets-container li:hover > .bottom_arrow
{
    opacity: 1;
}

.projets-container li:hover
{
    background-color: #6BCAF2;
    box-shadow: 0px 2px 1px #047DD4;
}

.projets-container li:hover > a
{
    border-top: none;
    color: white;
}

.bottom_arrow
{
    position: absolute;
    top: 80%;
    left: 43%;
    opacity: 0;
    
}

.portfolio
{
    width: 100%;
    border: 3px solid pink;
}

.portfolio_serie1
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1%;
}

.portfolio_serie2
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.portfolio img
{
    width: 22%;
}

footer
{
    width: 100%;
    height: 600px;
    margin-top: 4%;
    position: relative;
}

.blue_film
{
    width: 100%;
    height: 100%;
    background-color: #009dff33;
    position: absolute;
    top: 0%;
    pointer-events: none;
}

iframe
{
    width: 100%;
    height: 100%;
}

form
{
    position: absolute;
    top: 7%;
    right: 10%;
    width: 23%;
    height: 80%;
    font-size: 1vw;
    background-color: #ffffffb3;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0% 0% 1% 1%;
    border: 2px solid red;
}

.send_message
{
    width: 40%;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    font-size: 0.8vw;
    color: white;
    font-weight: bold;
    background-color: #6BCAF2;
}

form p
{
    width: 90%;
}

input
{
    width: 100%;
}

textarea
{
    width: 100%;
    height: 100px;
}

em
{
    font-weight: bold;
    font-style: normal;
}

img
{
    width: 100%;
}
h4
{
    font-size: 1.1vw;
    font-weight: bold;
    font-family: 'glyphicons-halflings-regular';
}

h3
{
    font-size: 1.2vw;
    font-family: sans-serif;
    color: black;
    font-family: 'glyphicons-halflings-regular';
}

h2
{
    color: black;
    font-size: 1.8vw;
    font-family: 'glyphicons-halflings-regular';
    
}

h1
{
    font-family: 'glyphicons-halflings-regular';
    font-size: 1.8vw;
}

strong
{
    color: #6BCAF2;
}

p
{
    font-size: 0.9vw;
    font-family: 'fontawesome-webfont';
}

a
{
    font-weight: 700;
    text-decoration: none;
    color: grey;
}

